<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Warehouse View</title>
</head>
<body>
<h1 th:text="${warehouse.warehouseName}">Warehouse Name</h1>

<form th:action="@{/warehouse/view}" method="get">
  Category: <input type="text" name="location" />
  Produktname: <input type="text" name="productName" />
  <button type="submit">Filtern</button>
</form>




<table border="1">
  <tr>
    <th>ID</th><th>Name</th><th>Category</th><th>Unit</th><th>Quantity</th>
  </tr>
  <!-- Schleife über alle Produkte im Warehouse-Objekt -->
  <tr th:each="p : ${warehouse.products}">
    <td th:text="${p.productID}">ID</td>
    <td th:text="${p.productName}">Name</td>
    <td th:text="${p.productCategory}">Category</td>
    <td th:text="${p.productUnit}">Unit</td>
    <td th:text="${p.productQuantity}">Quantity</td>
  </tr>
</table>
</body>
</html>
